h2{
    font-family: var(--primaryFont);
  
  }

  .form-container{
      width: 100%;
  }

  .passwordicon{
    height: 18px;
    width:18px;
  }

  mat-dialog-content{
    max-height: 350px;
}

.formControl{
    position: relative;
    margin: 0;
    padding: 0;
    
}
.formControl label{
    position: absolute;
    top: -10px;
    color: var(--primaryColor);
    font-size: 13px;

    font-weight: 300;
    font-family: var(--primaryFont);
    color: var()
}
.auth-form-field{
    width: 95%;
}
.form-container{
    width: 100%;
}
.wrapper{
display: flex;
flex-direction: row;
width: 100%;
}
.wrapper div{
    width: 100%;
}