<div style="width: 100%">
  <h2 mat-dialog-title>Server Credentials for {{projName}}</h2>

  <mat-tab-group>
   
    <mat-tab label="Server Account"> 
          <app-server-account [project]="proj"></app-server-account>
      </mat-tab>
      <mat-tab label="Server Credentials"> 
        <app-server-details [project]="proj"></app-server-details>
    </mat-tab>
    <mat-tab label="Server Tools/Utils"> 
          <app-tools [project]="proj"></app-tools>
      </mat-tab>
  </mat-tab-group>
  <mat-dialog-actions align="end">
    <button class="mat-raised-button" (click)="close()">Close</button>
    
  </mat-dialog-actions>
</div>
