<app-breadcrumblayout></app-breadcrumblayout>

<div>
  <div class="chartsContainer">
    <div class="chartItem">
      <canvas id="lineChart"></canvas>
    </div>
    <div class="chartItem">
        <canvas id="barChart"></canvas>
    </div>
  </div>
  <mat-divider style="margin-top: 5%;margin-bottom:5%"></mat-divider>
  <div class="chartsContainer">
      <div class="chartItem">
          <canvas id="doughnut"></canvas>
      </div>
      <div class="chartItem">
        <canvas id="radarChart"></canvas>
      </div>
  </div>
</div>
