<div class="form-container">
  <header class="task-header">
    Task manager
  </header>
  <mat-divider></mat-divider>
  <form [formGroup]="form"  class="form-section">
     <div>
        <mat-grid-list cols="2" rowHeight="2:0.5">
            <mat-grid-tile>
                <mat-form-field form class="project-input">
                    <mat-label>{{projectLabel}}</mat-label>
                    <mat-select formControlName="projectid" class="input-select">
                      <mat-option *ngFor="let project of projectList" [value]="project.id">
                        {{project.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="project-input">
                    <mat-label>{{typeLabel}}</mat-label>
                    <mat-select formControlName="tasksTypeid" class="input-select">
                      <mat-option *ngFor="let task of tasksTypes" [value]="task.tasktypeid">
                        {{task.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="project-input">
                    <mat-label>{{userLabel}}</mat-label>
                    <mat-select formControlName="assignTo" class="input-select">
                      <mat-option *ngFor="let user of userList" [value]="user.id">
                        {{user.fullname}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="task-textarea">
                <input type="text" formControlName="description" matInput placeholder="Description">
              </mat-form-field>  
            </mat-grid-tile>
          </mat-grid-list>
          <mat-form-field class="task-textarea">
              <input type="text" formControlName="comment" matInput placeholder="Comment">
            </mat-form-field>

            <div class="submit-button-section">
                <button [disabled]="form.invalid" buttonLoader [loaderColor]="'white'" (click)="addTask()" class="attach-button mat-raised-button mat-primary save">
                  <span></span>
                    Create task
                  <mat-icon>
                    send
                  </mat-icon>

                </button>
            </div>
     </div>
  </form>
</div>

