<div class="form-container">
  <header class="task-header">
    New Task
  </header>
  <mat-divider></mat-divider>
  <form [formGroup]="form" class="form-section">
    <div>
      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field form appearance="outline">
            <mat-label>{{projectLabel}}</mat-label>
            <mat-select formControlName="projectid" class="input-select">
              <mat-option *ngFor="let project of projectList" [value]="project.id">
                {{project.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>{{typeLabel}}</mat-label>
            <mat-select formControlName="tasksTypeid" class="input-select">
              <mat-option *ngFor="let task of tasksTypes" [value]="task.tasktypeid">
                {{task.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>{{userLabel}}</mat-label>
            <mat-select formControlName="assignTo" [disabled]="disableAdmn" class="input-select">
              <mat-option *ngFor="let user of userList" [value]="user.id">
                {{user.fullname}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <input type="text" formControlName="description" matInput placeholder="Description">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
        <mat-form-field form appearance="outline">
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priority" class="input-select">
            <mat-option *ngFor="let priority of priorityList" [value]="priority">
              {{priority}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <input type="text" formControlName="comment" matInput placeholder="Comment">
        </mat-form-field>
    </mat-grid-tile>

    
      </mat-grid-list>
      <!-- <mat-divider style="margin-top: 10px;width: 100%"></mat-divider> -->
      <div class="submit-button-section">
        <button mat-button (click)="closeModal()">
          <span style="color: var(--darkColor)">Close</span>
          
        </button>
        <button [disabled]="form.invalid" buttonLoader [loaderColor]="'white'" (click)="addTask()"
          class="attach-button mat-raised-button mat-primary save">
          <span></span>
          Create task
        </button>
      </div>
    </div>
  </form>
</div>

