<div style="width: 100%">
  <h2 mat-dialog-title>Add Clients</h2>
</div>
<mat-dialog-content>
  <form [formGroup]="form">
    <div>

      <div class="form-container">

        <div class="formControl">
            <mat-form-field class="auth-form-field">
              <input matInput placeholder="Business Name" formControlName="businessname" floatPlaceholder="never">
              <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                <mat-icon>business</mat-icon>
              </button>
              <!-- <mat-error class="validation-error" *ngIf="name.invalid && (name.dirty || name.touched)">Invalid name</mat-error> -->
            </mat-form-field>
        </div>
        <div class="formControl">
            <mat-form-field class="auth-form-field">
              <input matInput placeholder="Business code" formControlName="code" floatPlaceholder="never">
              =======
              <mat-form-field class="auth-form-field ">
                <input matInput placeholder="Business code" formControlName="code">
                >>>>>>> 8887f568bcca0054723069fac53f978f19a5c86f
                <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                  <mat-icon>scatter_plot</mat-icon>
                </button>
                <!-- <mat-error class="validation-error" *ngIf="name.invalid && (name.dirty || name.touched)">Invalid name</mat-error> -->
              </mat-form-field>
            </mat-form-field>
        </div>
        <div class="formControl">
          <<<<<<< HEAD <!-- <label>Phone</label> -->
            <mat-form-field class="auth-form-field">
              <input matInput placeholder="Phone" formControlName="phonenumber" floatPlaceholder="never">
              =======
              <mat-form-field class="auth-form-field ">
                <input matInput placeholder="Phone" formControlName="phonenumber">
                >>>>>>> 8887f568bcca0054723069fac53f978f19a5c86f
                <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                  <mat-icon>phone</mat-icon>
                </button>
                <!-- <mat-error *ngIf="phone.errors && (phone.dirty || phone.touched)">Invalid Phone</mat-error> -->
              </mat-form-field>
            </mat-form-field>
        </div>
        <div class="formControl">
          <<<<<<< HEAD <!-- <label>Email</label> -->
            <mat-form-field class="auth-form-field">
              <input matInput placeholder="Email" formControlName="email" floatPlaceholder="never">
              =======
              <mat-form-field class="auth-form-field">
                <input matInput placeholder="Email" formControlName="email">
                >>>>>>> 8887f568bcca0054723069fac53f978f19a5c86f
                <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                  <mat-icon>email</mat-icon>
                </button>
                <!-- <mat-error *ngIf="email.errors && (email.dirty || email.touched)">Invalid email address</mat-error> -->
              </mat-form-field>
            </mat-form-field>
        </div>

        <div class="formControl">
          <<<<<<< HEAD <!-- <label>Web Url</label> -->
            <mat-form-field class="auth-form-field">
              <input matInput placeholder="weburl" formControlName="weburl" floatPlaceholder="never">
              =======
              <mat-form-field class="auth-form-field ">
                <input matInput placeholder="weburl" formControlName="weburl">
                >>>>>>> 8887f568bcca0054723069fac53f978f19a5c86f
                <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                  <mat-icon>language</mat-icon>
                </button>
                <!-- <mat-error *ngIf="weburl.errors && (weburl.dirty ||  weburl.touched)">Invalid url</mat-error> -->
              </mat-form-field>
            </mat-form-field>
        </div>
        <div class="formControl">
          <<<<<<< HEAD <!-- <label>Contact Person </label> -->
            <mat-form-field class="auth-form-field">
              <input matInput placeholder="Contact Person" formControlName="contactperson" floatPlaceholder="never">
              =======
              <mat-form-field class="auth-form-field">
                <input matInput placeholder="Contact Person" formControlName="contactperson">
                >>>>>>> 8887f568bcca0054723069fac53f978f19a5c86f
                <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                  <mat-icon>person_outlined</mat-icon>
                </button>
                <!-- <mat-error *ngIf="contactperson.errors && (contactperson.dirty || contactperson.touched)">Invalid name</mat-error> -->
              </mat-form-field>
            </mat-form-field>
        </div>
        <div class="formControl">
          <<<<<<< HEAD <!-- <label>Contact Person Phone </label> -->
            <mat-form-field class="auth-form-field">
              <input matInput placeholder="Contact Person Phone" formControlName="contactphonenumber"
                floatPlaceholder="never">
              =======
              <mat-form-field class="  auth-form-field">
                <input matInput placeholder="Contact Person Phone" formControlName="contactphonenumber">
                >>>>>>> 8887f568bcca0054723069fac53f978f19a5c86f
                <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                  <mat-icon>phone_outlined</mat-icon>
                </button>
                <!-- <mat-error *ngIf="contactperson.errors && (contactperson.dirty || contactperson.touched)">Invalid name</mat-error> -->
              </mat-form-field>
            </mat-form-field>
        </div>
        <div class="formControl">
          <<<<<<< HEAD <!-- <label>Contact Person Email </label> -->
            <mat-form-field class="auth-form-field">
              <input matInput placeholder="Contact Person Email" formControlName="contactpersonemail"
                floatPlaceholder="never">
              =======
              <mat-form-field class="  auth-form-field">
                <input matInput placeholder="Contact Person Email" formControlName="contactpersonemail">
                >>>>>>> 8887f568bcca0054723069fac53f978f19a5c86f
                <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                  <mat-icon>email_outlined</mat-icon>
                </button>
                <!-- <mat-error *ngIf="contactperson.errors && (contactperson.dirty || contactperson.touched)">Invalid name</mat-error> -->
              </mat-form-field>
            </mat-form-field>
        </div>
      </div>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button [disabled]="form.invalid" class="mat-raised-button mat-primary save" buttonLoader [loaderColor]="'white'"
    (click)="saveAndAdd()">
    <span></span>
    Add more
  </button>
  <button [disabled]="form.invalid" class="mat-raised-button mat-primary save" buttonLoader [loaderColor]="'white'"
    (click)="save()">
    <span></span>

    Add
  </button>
</mat-dialog-actions>