.detail-section{
  display: flex;
  color: var(--darkColor) !important;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--primaryFont);
  padding: 10px;
  height:90%;
width: 100%;
transition:0.5s;
transform:translateY(-10%);
/* margin-left: 20px; */
}
.subtexts{
  /* padding-left:30px */
}

.task-body {
  padding: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.t-items {
  border-radius: 10px;
  /* display:flex; */
  /* border: 1px solid #b4aaaa !important; */
  margin-bottom: 30px;
  width: 100%;
  padding: 5px 20px;
  z-index: 1000;
  /* padding:5px; */
  background: #E9D8FD;
  /* font-family: var(--primaryFont); */
  color: #00000099;
}
.t-items:last-child {
  margin-bottom: 0;
}
.t-item-main {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.t-status-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: -10px;
}

.links{
color: var(--primaryColor);
  justify-content: space-around;
  height:50px;
}

.right{
  width: 50%;
  color: var(--darkColor);
  overflow:auto;
  scrollbar-width: thin;
}
.left{
width:40%;
align-items: flex-start;
padding: 10px;
margin-left:10%;
}
footer{
 color: var(--darkColor);
 font-size:13px;
 font-weight:300;

}

.description{
  margin-bottom:10px;
}
.description, h1{
  color:var(--primaryColor);
}
.todo{
  display: inline-block;
  width: 30px;
  border: 1px solid var(--dangerColor) !important;
  height: 30px;
  background: var(--dangerColor) !important;
  margin-left: 10px;

}
/* .detail-description {
  color: var(--darkColor);
  
} */

.subheading{
  margin: 0 0 0 10px;
}
.left div{
  margin-bottom:20px;
}
.menu-button{
  font-family: var(--primaryFont);
  color: var(--primaryColor);
  letter-spacing: 1px;
}

.comment{
  position: absolute;
  display: flex;
  align-self:flex-start;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: space-evenly;
  width:50%;
  margin:10px;
  margin-top:10px;
  padding-left:15px;
  /* padding-right:20px; */

  /* padding-left:20px */

}
.date-form{
  display: inline-block;
  position: absolute;
  align-self:flex-end;
  margin:10px;
  /* background-color:#fff; */
  width: 50%;
  /* padding-top: -10px; */
  /* padding-bottom:0px; */
  padding-right: 40px;
  /* margin: auto; */
  color: #00000099;
  font-size: 14px;
}
.auth-form-field{
  display: inline-block;
  /* align-self:flex-end; */
  /* background-color:#fff; */
  width: 30%;
  margin: 10px;
  color: #00000099;
  font-size: 14px;
  margin-right: 40px;
  border:0.3 solid #b0b0b0 !important;
  /* border:none; */
  /* margin-top:15px; */
  border-radius: 2px;
  /* padding:0.8em; */

  /* margin:10px 20px 10px 20px; */
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  font-size: 13px;
  font-family: var(--primaryFont);
}

.comment-input{

  width: 100%;
  margin-left:10px;
  border-radius: 10px;
  padding:4px 9px;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}

.comment-button{
  position: absolute;
  bottom: 8px;
  right:-50px;
  font-size: 13px;
  font-family: var(--primaryFont);
  color: var(--primaryColor);
}
.delete{
  color: var(--dangerColor) !important;
}
p{
  font-weight: 200;
  letter-spacing: 2px;
}

.topBar{
  justify-content: space-evenly;
  flex-direction: row;
  padding-left:30px !important
}

.comment{

}
.header{
  color: var(--primaryColor);
  margin-bottom:5px;
}

.detail-description{
font-size: 13px;
padding: 10px;
text-align: justify;

}
.section{
  display: flex;
  color: var(--greyColor);
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;

}
