<!-- <ul class="breadcrumb">
  <li><a href="#"><mat-icon class="icon ">folder_open</mat-icon><span>{{crumb.child}}</span></a></li>
  <li><a href="#"><mat-icon class="icon ">folder</mat-icon><span>{{crumb.parent}} </span></a></li>
  <li><a href="#"><mat-icon class="icon ">home</mat-icon><span>Home</span></a></li>
</ul> -->

<div style="display:flex; flex-direction:row;margin-bottom:70px;margin-left: 30px; padding-left:2%">
<div id="crumbs">
    <ul>
      <!-- <li  ><a><mat-icon class="icon ">home</mat-icon></a></li>
      <li  ><a><mat-icon class="icon ">chevron_right</mat-icon></a></li> -->
      <li ><a >{{crumb.parent}} </a></li>
      <li ><a><mat-icon class="icon" style="vertical-align:middle; margin-bottom:5px">chevron_right</mat-icon></a></li>
      <li><a >{{crumb.child}}</a></li>        
    </ul>
</div>
<div class="navbar-items">
  <!-- <app-breadcrumblayout></app-breadcrumblayout> -->

    <div style="display:flex; align-items:center;flex-direction: row;">
      <div style="display:flex; align-items:center;margin-right:30px">

       <button *ngIf="isAdmin" (click)="onCreate()" style="background-color: var(--primaryColor);color:white" mat-raised-button  matTooltipPosition="right" matTooltip="New project" >
        <!-- <mat-icon style="font-size:20px" class="tool-icon">add</mat-icon> -->
        New Project
      </button>
       <button *ngIf="!isAdmin" disabled  style="background-color: rgb(209, 206, 206);color:white;cursor:not-allowed" mat-raised-button >
        <!-- <mat-icon style="font-size:20px" class="tool-icon">add</mat-icon> -->
        New Project
      </button>
    </div>
      <div style="display:flex; justify-content:space-around; align-items:center;margin-right:30px">
        
        
        <button class="notification-icon" [matMenuTriggerFor]="notification" matTooltipPosition="left"
      matTooltip="notification" mat-icon-button>
      <mat-icon matBadge="{{activityList.length}}" matBadgePosition="after" matBadgeColor="warn" class="tool-icon">
        notifications_active
      </mat-icon>
    </button>
    <mat-menu #notification="matMenu" yPosition="above">
      <div class="notification-panel">
        <div class="banner">
          
          <span>
            Notifications
          </span>
        </div>
        <mat-divider></mat-divider>
        <div class="notification-details" *ngIf="activityList">
          <div class="notification-container" style="margin:10px" *ngFor="let item of activityList;">
              
            <div class="nwrapper">
               
                <h4 style="color: var(--greyColor);font-size: 15px;"> <span style="color: var(--primaryColor)">{{item.usercomment}}</span></h4>
              <!-- <p  style="text-align: center;margin-top:5px;color: var(--primaryColor)">{{item.projectid.projectname}}</p> -->
                <div class="notification-header">
                    <p class="actionflow"> <span style="color: var(--greyColor);font-size: 13px" >Action flow</span> {{item.actionflow}}</p>
                    <p style="color: var(--greyColor);font-size: 13px">Action: <span style="color: var(--primaryColor)">{{item.tasktype}}</span></p>
                  </div>
                  
                  <div class="author">
                      <!-- <p  style="text-align: center;margin-top:5px;color: var(--primaryColor)"><span style="color: var(--greyColor);font-size: 13px" >Project name</span>{{item.projectid.projectname}}</p>  -->

                    <span  style="color: var(--greyColor);font-size: 13px;margin-right: 10px">Assigned By </span>
                    <p style="font-size: 11px;"> {{item.userid.fullname}}</p>
                    <!-- <span><img width="20px" src="../../../assets/img/avatar.png" alt="assignedby"></span> -->
                </div>
              </div>
              <mat-divider></mat-divider>
            <!-- <mat-divider></mat-divider> -->
          </div>
          <!--end of container-->
        </div>
        <!-- <button style="margin: 0;text-align:center;width:100%;background:var(--primaryColor);color:#fff" class="mat-button primary"> See all</button> -->
      </div>
    
    </mat-menu>
     </div>
        <button mat-icon-button >
            <img class="user-acc" src="../../../assets/img/avatar.png" />
          </button>
          <!-- <mat-menu #auth="matMenu" yPosition="above">
            <button class="navbar-profile" mat-menu-item>
              <mat-icon>person
              </mat-icon>
              <span>
                Profile
              </span>
            </button>
            <button (click)="handleLogOut()" class="navbar-profile" mat-menu-item>
              <mat-icon style="color:var(--dangerColor)">logout</mat-icon>
              <span>
                Logout
              </span>
            </button> 
          </mat-menu> -->

        <div style="transform: translateY(10%);margin-left: 10px;font-size: 16px" *ngIf="!(isHandset$ | async)">{{name}}</div>
        <div  style="transform: translateY(10%);margin-left: 10px;font-size: 16px"*ngIf="(isHandset$ | async)">{{alias}}</div>

    </div>
  </div>

  </div>

<!-- (click)="gotoPath('/crumb.parent')"  -->

<!-- (click)="gotoPath('/dashboard')" -->