<div class="section-header" style="width: 100%;">
  <mat-form-field class="search-form-field" style="padding-right: 10px;">
    <input [(ngModel)]="accountsearchKey" (keyup)="applyAccountFilter()" matInput
      placeholder="Search Project" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="accountsearchKey"
      (click)="onAccountSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button matSuffix mat-icon-button *ngIf="!searchKey">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
    <div style="margin-right: 15px" class="button add">
          
        <button (click)="onCreate()" mat-button mat-raised-button>Create Project</button>
      </div>
</div>
<div >
<mat-table class="table" [dataSource]="dataSource" matSort >
    <!-- Position Column -->
    <ng-container colspan="2" matColumnDef="alias" style="padding: 0 0 0 10px">
      <mat-header-cell colspan="2" mat-sort-header *matHeaderCellDef> Alias</mat-header-cell>
      <mat-cell class="code" colspan="1" *matCellDef="let element"> {{element.code}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.projectname}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container class="status-container"  matColumnDef="status">
      <mat-header-cell class="status-column" *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell class="status-cell"  *matCellDef="let element"
      [ngClass]="{
        'todo' : element.projectstatus =='New',
        'inprogress' : element.projectstatus =='string',
        'completed' : element.projectstatus =='Completed'
     }"
      >
      <span class="status-span">{{element.projectstatus}}</span></mat-cell>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell class="status-column" *matHeaderCellDef> Created At</mat-header-cell>
      <mat-cell *matCellDef="let element"> <span class="status-span">{{element.startdate | date}}</span> </mat-cell>
    </ng-container>
     <!-- Symbol Column -->
     <ng-container matColumnDef="activities">
        <mat-header-cell *matHeaderCellDef>Activities</mat-header-cell>
        <mat-cell *matCellDef="let row;">
        <button (click)="toggleExpand(row,'Activities')" mat-icon-button>
          <mat-icon style="color:#325774" matBadge="{{row.activityCounts}}" matBadgePosition="after" class="tool-icon">
              transfer_within_a_station
          </mat-icon>
        </button>
        </mat-cell>
      </ng-container>
     <ng-container matColumnDef="teams">
      <mat-header-cell *matHeaderCellDef> Team</mat-header-cell>
      <mat-cell *matCellDef="let row;">
      <button (click)="toggleExpand(row,'Team')" mat-icon-button>
        <mat-icon style="color:#325774" matBadge="{{row.teamMemberCounts}}"  matBadgePosition="after" matBadgeColor="info" class="tool-icon">
          group
        </mat-icon>
      </button>
     
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="document">
        <mat-header-cell *matHeaderCellDef> Documents</mat-header-cell>
        <mat-cell   *matCellDef="let row;">
        <button (click)="toggleExpand(row,'Documents')" mat-icon-button>
          <mat-icon style="color:#325774" matBadge="{{row.documentCounts}}" matBadgePosition="after" matBadgeColor="info" class="tool-icon">
            folder
          </mat-icon>
        </button>
       
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="webhooks">
          <mat-header-cell *matHeaderCellDef> Web Hooks</mat-header-cell>
          <mat-cell *matCellDef="let row;">
          <button (click)="toggleExpand(row,'webHook')" mat-icon-button>
            <mat-icon style="color:var(--darkColor)">
              web
            </mat-icon>
          </button>
         
          </mat-cell>
        </ng-container> -->

     <!-- Weight Column -->
     <ng-container  matColumnDef="action">
        <mat-header-cell *matHeaderCellDef >Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button id="file" mat-icon-button [matMenuTriggerFor]="moreMenu"><mat-icon>more_horizontal</mat-icon></button>
            <mat-menu #moreMenu="matMenu" yPosition="below">
                <button class="menu-button" mat-menu-item>
                  <mat-icon >
                    timer
                  </mat-icon>
                   <span>
                     Set Duration
                   </span>
                 </button>
                 <button class="menu-button" mat-menu-item>
                    <mat-icon >
                      router
                    </mat-icon>
                    <span>
                      Server Credentials
                    </span>
                  </button>
                  <button class="menu-button" mat-menu-item>
                      <mat-icon >
                        link
                      </mat-icon>
                      <span>
                        Repository
                      </span>
                    </button>
                    <button class="menu-button" (click)="toggleExpand(row,'webHook')" mat-menu-item>
                        <mat-icon style="color:var(--darkColor)">
                          web
                        </mat-icon>
                        <span>
                          Web Hook
                        </span>
                    </button>
                    </mat-menu>
           </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row;columns: displayedColumns;" [ngClass]="{'active':row ===selectedrow}" (click)="selectedrow = row" ></mat-row>
    <!-- <mat-footer-row *matFooterRowDef="['noData']"></mat-footer-row> -->
  </mat-table>
<mat-paginator [pageSizeOptions]="[5,10,20,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
