<div class="container">
  <div style="width: 100%">
    <h2 mat-dialog-title>Add New Group</h2>
</div>

<mat-dialog-content >
 
  <form action="" [formGroup]="form">
    <div>
        <div >
            <mat-form-field class="auth-form-field" >
                <input matInput placeholder="Enter group name" formControlName="name" >
                <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                  <mat-icon>group</mat-icon>
                </button>
                <mat-error>invalid group</mat-error>
              </mat-form-field>
          </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    <button [disabled]="form.invalid" class="mat-raised-button mat-primary save"  buttonLoader [loaderColor]="'white'" (click)="saveAndAdd()">
     <span></span>
      Add more
    </button>
    <button [disabled]="form.invalid" class="mat-raised-button mat-primary save" buttonLoader [loaderColor]="'white'" (click)="save()">
      <span></span>
      Add 
    </button>
</mat-dialog-actions>
</div>