<div style="width: 100%">
  <h2 mat-dialog-title>Add Document Type</h2>
</div>
<mat-dialog-content >
<form  [formGroup]="form">
 
    <div class="form-container">
          
      <div class="formControl">
        <mat-form-field class="auth-form-field ">
            <input matInput placeholder="Description" formControlName="description">
            <button mat-button matSuffix mat-icon-button (click)="doNothing()">
              <mat-icon>business</mat-icon>
            </button>
            <!-- <mat-error class="validation-error" *ngIf="name.invalid && (name.dirty || name.touched)">Invalid name</mat-error> -->
          </mat-form-field>
      </div>
          
      <div class="formControl">
          <mat-form-field class="auth-form-field ">
            <mat-select  class="select" formControlName="parent" placeholder="Parent"
            >
              <mat-option *ngFor="let item of institutionList" [value]="item.institutionId">{{item.institutionName}}
              </mat-option>
            </mat-select>
              <!-- <mat-error *ngIf="weburl.errors && (weburl.dirty ||  weburl.touched)">Invalid url</mat-error> -->
            </mat-form-field>
        </div>
       </div>
</form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button [disabled]="form.invalid" class="mat-raised-button mat-primary save"  buttonLoader [loaderColor]="'white'" (click)="saveAndAdd()">
   <span></span>
    Add more
  </button>
  <button [disabled]="form.invalid" class="mat-raised-button mat-primary save" buttonLoader [loaderColor]="'white'" (click)="save()">
    <span></span>
    Add 
  </button>
</mat-dialog-actions>
