
<div style="width: 100%">
  <h2 mat-dialog-title>Create Project</h2>
  <!-- <mat-divider style="margin-top: 0px;width: 100%"></mat-divider> -->
  <form [formGroup]="form" class="nwproject-form">
    <div>
      <mat-grid-list cols="2" rowHeight="90px">
        <mat-grid-tile>
        <!-- <label for="name">Name</label> -->
        <!-- <mat-form-field class="project-form-field" floatLabel="never" >
        <input matInput
                placeholder="Name"
               formControlName="name" floatPlaceholder="never" required>
               <button mat-button matSuffix mat-icon-button aria-label="Clear">
                  <mat-icon >folder </mat-icon>
               </button>
               <mat-error >Invalid project name</mat-error>
        </mat-form-field> -->
        <mat-form-field  appearance="outline">
          <mat-label>Project Name</mat-label>
          <input matInput value="" formControlName="name" floatPlaceholder="never" required>
          <button mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>folder </mat-icon>
          </button>
          <mat-error>Invalid project name</mat-error>
        </mat-form-field>
        </mat-grid-tile>
     
        <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Alias</mat-label>
          <input matInput formControlName="code" floatPlaceholder="never" required>
          <button mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>folder </mat-icon>
          </button>
          <mat-error>Invalid alias</mat-error>
        </mat-form-field>
      </mat-grid-tile>

    <mat-grid-tile>        
      <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput formControlName="startdate" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <!-- <div class="form-control" style="margin-top:20px "> -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" >
          <mat-label>End Date</mat-label>
          <input matInput formControlName="enddate" [matDatepicker]="enddate" >
          <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
          <mat-datepicker #enddate></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label>Project Type</mat-label>
          <mat-select class="select" formControlName="type" floatPlaceholder="never"
            required>
            <mat-option *ngFor="let item of types" [value]="item.projecttypeId">{{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <!-- <div class="form-control block" style="margin-bottom: 20px"> -->
      
      <mat-grid-tile>
        <mat-form-field form appearance="outline" style="width: 90%;">
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priority" class="input-select">
            <mat-option *ngFor="let priority of priorityList" [value]="priority">
              {{priority}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <!-- <mat-divider style="margin-top: 10px;width: 100%"></mat-divider> -->
      <!-- <h2 class="client-section" mat-dialog-title>Client</h2> -->
      <!-- <div class="form-control"> -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label>Client</mat-label>
          <mat-select class="select" formControlName="client"  floatPlaceholder="never"
            required>
            <mat-option *ngFor="let item of clientsList" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <!-- </div> -->

      <!-- <div class="form-control"> -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" style="width: 90%;">
          <mat-label>Project Manager</mat-label>
          <mat-select class="select" formControlName="projectmanager" 
            floatPlaceholder="never" required>
            <mat-option *ngFor="let item of allUsers" [value]="item.id">{{item.fullname}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <!-- <mat-grid-tile style="width: 100%;"> -->
      
    <!-- </mat-grid-tile> -->
    </mat-grid-list>
    
    
  </div>
  <mat-form-field appearance="outline" style="width: 95%; margin-left: 10px;margin-right: 10px;">
    <mat-label>Description</mat-label>

    <input matInput formControlName="description"/>
  </mat-form-field>
    <!-- <div class="input-container">
    <mat-form-field class="project-form-field"  floatLabel="never" >
        <input matInput
                placeholder="Staging Server"
               formControlName="repository"  floatPlaceholder="never" required>
               <button mat-button matSuffix mat-icon-button aria-label="Clear">
                  <mat-icon >link </mat-icon>
               </button>
    </mat-form-field>
    <mat-form-field class="project-form-field" style="margin-top: 20px" floatLabel="never" >
        <input matInput
                placeholder="Production Server"
               formControlName="repository"  floatPlaceholder="never" >
               <button mat-button matSuffix mat-icon-button aria-label="Clear">
                  <mat-icon >link </mat-icon>
               </button>
    </mat-form-field>
  </div> -->
    <!--

            <mat-grid-tile>
                <div class="form-container">

                  </div>
              </mat-grid-tile>
        </mat-grid-list> -->

    <!-- <mat-form-field>
          <input matInput
                  placeholder="Course Description"
                 formControlName="description">
      </mat-form-field> -->



    <mat-dialog-actions align="end">
      <button class="mat-raised-button" (click)="close()">Close</button>
      <button [disabled]="form.invalid" class="mat-raised-button mat-primary save" buttonLoader [loaderColor]="'white'"
        (click)="save()">
        <span></span>
        Save</button>
    </mat-dialog-actions>
  </form>
</div>