<div style="width: 100%">
  <h2 mat-dialog-title>{{type}} Server Credential</h2>

  <form [formGroup]="form" class="nwproject-form" style="display:flex; flex-direction:column">
    <!-- <div style=" flex:1; flex-direction: column"> -->
      <p>
       
          <mat-form-field class="project-form-field auth-form-field" appearance="outline"  style="width:100%;">
            <mat-label>User Name</mat-label>
            <input matInput  formControlName="name"  floatPlaceholder="never">
             
          </mat-form-field>
       
      </p>
      <p>
        <mat-form-field class="project-form-field auth-form-field" appearance="outline"  style="width:100%;">
          <mat-label>Server Password</mat-label>
          <input matInput  formControlName="serverpassword"  floatPlaceholder="never">
           
        </mat-form-field>
      </p>
      <p>
       
          <mat-form-field class="project-form-field auth-form-field" appearance="outline"  style="width:100%;">
            <mat-label>Server IP Address</mat-label>
            <input matInput  formControlName="serverip"  floatPlaceholder="never">
             
          </mat-form-field>
       
    </p>
      <p>
       
          <mat-form-field class="project-form-field auth-form-field" appearance="outline"  style="width:100%;">
            <mat-label>Server OS</mat-label>
            <input matInput  formControlName="serveros"  floatPlaceholder="never">
             
          </mat-form-field>
       
    </p>
      <p>
       
          <mat-form-field class="project-form-field auth-form-field" appearance="outline"  style="width:100%;">
            <mat-label>Server Name</mat-label>
            <input matInput  formControlName="servername"  floatPlaceholder="never">
             
          </mat-form-field>
       
    </p>
      <p>
       
          <mat-form-field class="project-form-field auth-form-field" appearance="outline"  style="width:100%;">
            <mat-label>Server Type</mat-label>
            <input matInput  formControlName="servertype"  floatPlaceholder="never">
             
          </mat-form-field>
       
    </p>

    <p>

      <mat-form-field class="project-form-field auth-form-field" appearance="outline" style="width:100%;">
        <mat-label>Server Account</mat-label>
        <mat-select formControlName="serverAcctId"  class="input-select">
          <mat-option *ngFor="let account of serverAcctList" [value]="account.id">
            {{account.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      
    <mat-dialog-actions align="end">
      <button class="mat-raised-button" (click)="close()">Close</button>
     
      <button class="mat-raised-button mat-primary save" buttonLoader [loaderColor]="'white'"
        (click)="addServerCredential()">
        <span></span>
        Save</button>
    </mat-dialog-actions>
  </form>
</div>
