<mat-sidenav-container class="sidenav-container" style="overflow: hidden">
    <mat-sidenav #drawer class="sidenav" position="end" mode="push"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [(opened)]="showSide" [ngClass]="halfclose? 'halfClose':''">
    <div class="side-content" *ngIf="showSide" style="padding: 0px">
      <button (click)="closeSidePanel()" mat-button mat-icon-button>
          <mat-icon style="font-size: 13px"  >close</mat-icon>
      </button>
        <mat-form-field style="margin: 5px;width:90%" class="search-form-field project-form-field item-search" floatLabel="never" >
            <input [(ngModel)]="searchKey" (keyup)="applyFilter()" matInput  placeholder="Search "/>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon >close</mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button  *ngIf="!searchKey" >
                <mat-icon >search</mat-icon>
            </button>
          </mat-form-field>
        <!-- <p class="sub-title">Project Info</p> -->
      <ng-container *ngFor="let item of expandableData;let i = index" >
        <mat-expansion-panel  class="panel-section"  [ngClass]="{
          'todo' : sideData.projectstatus =='New',
          'inprogress' : sideData.projectstatus =='string',
          'completed' :sideData.projectstatus =='Completed'
       }"  *ngIf="item.title=== 'Activities' && sideData"
         (click)="toggleExpand(i)"
        [expanded]="panel===i" style="margin-bottom: 10px"
         [attr.data-index]="i">
        <mat-expansion-panel-header >
        <span style="margin-right: 10px">{{sideData.activityCounts}} </span>{{item.title}} 
        </mat-expansion-panel-header>
             
              <ng-container *ngFor=" let activity of projectActivities;let idx = index">
                  <mat-expansion-panel 
                   (click)="toogleCollapse(idx)"
                   [expanded]="innerpane===idx" 
                   [attr.data-index]="idx"
                   class="panel-child"
                    style="margin-bottom: 10px"
                   
                   >  
                      <mat-expansion-panel-header >
                         <label  class="panel-label" for="">Activity Type:</label>
                        <span  style="font-size: 12.5px;font-family: var(--primaryFont);color:var(--primaryColor);font-weight: 500">{{activity.actionflow}}</span>
                        </mat-expansion-panel-header>
                        
                        <mat-panel-description>
                          <div class="desc-container">
                            <p matTooltip="Project Name" class="teammate-title" >{{activity.projectid.description}}</p>
                            <!-- <span matTooltip="Current project status is {{activity.projectid.projectstatus}} " class="panel-status"  [ngClass]="{
                              'todo' : activity.projectid.projectstatus =='New',
                              'inprogress' : activity.projectid.projectstatus =='string',
                              'completed' :activity.projectid.projectstatus =='Completed'
                           }"></span> -->
                            <ul style="margin-top:-5px " class="teammate-details">
                              <li>
                                <label for="">Type of Task Assigned :</label>
                                <span>{{activity.tasktype}}</span>
                              </li>
                              <li>
                                  <label for="">Assignee :</label>
                                  <span>{{activity.assignedto.fullname}}</span>
                                </li>
                                <li>
                                    <label for="">Assigned by :</label>
                                    <span>{{activity.userid.fullname}}</span>
                                  </li>
                                  <li matTooltip="Additional  Comment">
                                    <mat-divider></mat-divider>
                                    <mat-icon style="font-size: 12px">insert_comment</mat-icon>
                                      <label for="">{{activity.usercomment}}</label>
                                    </li>
                            </ul>
                            
                          </div>
                        </mat-panel-description>
                    </mat-expansion-panel>
                   </ng-container>
          
        </mat-expansion-panel>
        

        <mat-expansion-panel class="panel-section" *ngIf="item.title=== 'Documents' && sideData"
        (click)="toggleExpand(i)"
       [expanded]="panel===i" style="margin-bottom: 10px"
        [attr.data-index]="i">
       <mat-expansion-panel-header >
       <span style="margin-right: 10px">{{sideData.documentCounts}} </span>{{item.title}} 
       </mat-expansion-panel-header>
         
       <ng-container *ngFor= "let document of projectDocx;let i  =index">
         <mat-expansion-panel class="docxexpand"
         (click)="toogleCollapse(i)"
         [expanded]="innerpane===i" 
         [attr.data-index]="i"
          style="margin-bottom: 10px">
             <mat-expansion-panel-header  matTooltip="{{document.docurl}}">
                 <mat-icon style="font-size: 16px;">folder_open</mat-icon>
               <span style="font-size: 12px;text-transform: capitalize; margin-right: 1.5px">{{resizeName(document.docurl,20)}}</span>
               </mat-expansion-panel-header>
               <button mat-icon-button  [matMenuTriggerFor]="docxmenu" class="docx-more" >
                 <mat-icon>more_horizontal</mat-icon>
                 </button>
                 <mat-menu #docxmenu="matMenu" yPosition="above">
                    <button style="height: 40px;" mat-menu-item class="menu-button">
                      <mat-icon >file_eye
                      </mat-icon>
                       <span>
                         Preview
                       </span>
                     </button>
                     <button (click)="fileDownload(document.documentid)" style="height: 40px;" mat-menu-item class="menu-button">
                        <mat-icon >cloud_download
                        </mat-icon>
                         <span>
                           Download
                         </span>
                       </button>
                     <button (click)="getUpdateDocx(document)" style="height: 40px;" mat-menu-item class="menu-button">
                        <mat-icon >update</mat-icon>
                        <span>
                          Update Document Info
                        </span>
                      </button>
                      <button  (click)="deleteDocx(document.documentid)" style="height: 40px;" mat-menu-item class="menu-button">
                          <mat-icon >delete</mat-icon>
                          <span>
                            Remove Document
                          </span>
                        </button>
                </mat-menu>
               <p style="font-size: 10px;font-family:var(--primaryFont);padding: 5px;">Description: {{document.description}}</p>
            <div class="docbody">
              <div class="imageDiv">
                  <img *ngIf="document.fileExt == ('.xls'||'.xlsx')" src="../../../assets/img/xls.jpeg" height="50">
                  <img *ngIf="document.fileExt == '.xlsx'" src="../../../assets/img/xls.jpeg"  height="50">
                  <img *ngIf="document.fileExt == ('.png'||'.jpeg'||'.jpg')" src="../../../assets/img/png.png" height="50">
                  <img *ngIf="document.fileExt == '.pdf'" src="../../../assets/img/pdf.jpeg"  height="50">
              </div>
              <div class="docContent">
                  <p><span class="contentLabel">Date Created:</span>{{document.datecreated | date}}</p>
                  <p><span class="contentLabel">Received From:</span>{{document.receivedfrom}}</p>
                  <p><span  class="contentLabel">Received By:</span>{{document.receivedby}}</p>
              </div>
            </div>
           </mat-expansion-panel>
       </ng-container>
       </mat-expansion-panel>
       <mat-expansion-panel class="panel-section" *ngIf="item.title=== 'Team' && sideData"
       (click)="toggleExpand(i)"
      [expanded]="panel===i" style="margin-bottom: 10px"
       [attr.data-index]="i">
      <mat-expansion-panel-header >
      <span style="margin-right: 10px"> {{sideData.teamMemberCounts}} </span> {{item.title}} <span>Member(s)</span>
      </mat-expansion-panel-header>
       

    <ng-container *ngFor=" let teammate of teamprofiles;let idx = index">
        <mat-expansion-panel style="margin-bottom: 7px"
         (click)="toogleCollapse(idx)"
         [expanded]="innerpane===idx" 
         [attr.data-index]="idx"
          style="margin-bottom: 10px"
         >  
            <mat-expansion-panel-header >
                <img class="teammate" src="../../../assets/img/avatar.png" />
              <span style="font-size: 13px">{{teammate.fullname}}</span>
              </mat-expansion-panel-header>
              
              <mat-panel-description>
                <div>
                  <!-- <p class="teammate-title" >Team Member Info</p> -->
                  <ul style="margin-top:-20px " class="teammate-details">
                    <li>
                      <label for="">Designation :</label>
                      <span>{{teammate.designation}}</span>
                    </li>
                    <li>
                        <label for="">Email :</label>
                        <span>{{teammate.emailaddress}}</span>
                      </li>
                  </ul>
                  
                </div>
              </mat-panel-description>
          </mat-expansion-panel>
         </ng-container>
      </mat-expansion-panel>


        <div *ngIf="i===0
         && item.title!=='Documents' &&
         item.title!=='Team'
         && item.title!=='Activities'">
          <p class="sub-title">Web hooks</p>
          <mat-divider></mat-divider>
</div>
  <mat-expansion-panel class="panel-section" *ngIf="item.title=== 'Skype' && sideData"
        (click)="toggleExpand(i)"
       [expanded]="panel===i" style="margin-bottom: 10px"
        [attr.data-index]="i">
       <mat-expansion-panel-header >
       <span style="margin-right: 10px">{{sideData.teamMemberCounts}} </span>{{item.title}} 
       </mat-expansion-panel-header>
         <mat-panel-description>
        {{item.description}}
        <div>
         
        </div>
         </mat-panel-description>
       </mat-expansion-panel>
       <mat-expansion-panel class="panel-section" *ngIf="item.title=== 'Slack' && sideData"
        (click)="toggleExpand(i)"
       [expanded]="panel===i" style="margin-bottom: 10px"
        [attr.data-index]="i">
       <mat-expansion-panel-header >
       <span style="margin-right: 10px">{{sideData.teamMemberCounts}} </span>{{item.title}} 
       </mat-expansion-panel-header>
         <mat-panel-description>
        {{item.description}}
        <div>
         
        </div>
         </mat-panel-description>
       </mat-expansion-panel>
       <mat-expansion-panel class="panel-section" *ngIf="item.title=== 'Git' && sideData"
       (click)="toggleExpand(i)"
      [expanded]="panel===i" style="margin-bottom: 10px"
       [attr.data-index]="i">
      <mat-expansion-panel-header >
      <span style="margin-right: 10px">{{sideData.teamMemberCounts}} </span>{{item.title}} 
      </mat-expansion-panel-header>
        <mat-panel-description>
       {{item.description}}
       <div>
        
       </div>
        </mat-panel-description>
      </mat-expansion-panel>
      <mat-expansion-panel class="panel-section" *ngIf="item.title === 'Gmail' && sideData"
      (click)="toggleExpand(i)"
     [expanded]="panel===i" style="margin-bottom: 10px"
      [attr.data-index]="i">
     <mat-expansion-panel-header >
     <span style="margin-right: 10px">{{sideData.teamMemberCounts}} </span>{{item.title}} 
     </mat-expansion-panel-header>
       <mat-panel-description>
      {{item.description}}
      <div>
       
      </div>
       </mat-panel-description>
     </mat-expansion-panel>

     <mat-expansion-panel class="panel-section" *ngIf="item.title=== 'Bug' && sideData"
     (click)="toggleExpand(i)"
    [expanded]="panel===i" style="margin-bottom: 10px"
     [attr.data-index]="i">
    <mat-expansion-panel-header >
    <span style="margin-right: 10px">{{sideData.teamMemberCounts}} </span>{{item.title}} 
    </mat-expansion-panel-header>
      <mat-panel-description>
     {{item.description}}
     <div>
      
     </div>
      </mat-panel-description>
    </mat-expansion-panel>
      </ng-container>
    </div>
  </mat-sidenav>
<mat-sidenav-content>
    <div class="page-container">
<!-- <p class="crumb">{{chrome.parent}} <span><mat-icon></mat-icon></span></p>  -->
<app-breadcrumblayout></app-breadcrumblayout>
        <!-- <p class="page-tittle">
          Project
        </p> -->
        
        <div class="suggestions">
          <p class="suggestion-title">Suggested projects</p>
          <div class="suggestion-items">
              <div *ngFor="let project of SuggestedProject" class="item-container">
                  <mat-card class="card-front">
                    {{project.code}}
                  </mat-card>
                  <mat-card class="card-back">
                    <mat-card-header>
                     <mat-card-title matTooltip="{{project.projectname}}">
                        <!-- <button mat-icon-button ngClass="pin ? 'pin':'' " (click)="pin=!pin">
                            <mat-icon class="auth-user">notes</mat-icon>
                          </button> -->
                       <!-- <span><mat-icon >folder</mat-icon></span> -->
                       <span>
                       {{resizeName(project.projectname,15)}}
                     </span>
                    </mat-card-title>
                      <mat-card-subtitle>Software Project</mat-card-subtitle>
                    </mat-card-header>
                      <mat-card-actions>
                          <button mat-icon-button>{{project.startdate | date}}</button>
                          <button id="file" mat-icon-button [matMenuTriggerFor]="payment"><mat-icon>more_vert</mat-icon></button>
                          <mat-menu #payment="matMenu" yPosition="above">
                              <button class="menu-button" mat-menu-item>
                                <mat-icon >store
                                </mat-icon>
                                 <span>
                                   View Update
                                 </span>
                               </button>
                               <button class="menu-button" mat-menu-item>
                                  <mat-icon >store</mat-icon>
                                  <span>
                                    Repository
                                  </span>
                                </button>
                          </mat-menu>
                      </mat-card-actions>
                  </mat-card>
                </div>
              
          </div>
        </div>
        <div class="table-section">
          <app-project-table  (getExpand)=getExpandData($event)></app-project-table>
        </div>
      </div>      
</mat-sidenav-content>
</mat-sidenav-container>
