<div>
  <mat-tab-group>
    <mat-tab label="Server"> 
          <app-server-details></app-server-details>
      </mat-tab>
    <mat-tab label="Project Types">
        <div class="container">
          <app-project-type></app-project-type>
        </div>
    </mat-tab>
    <mat-tab label="Status">
        <div class="container">
          <app-status-types></app-status-types>
        </div>
    </mat-tab>
    <mat-tab label="Document Types">
      <div class="container">
        <app-document-types></app-document-types>
      </div>
    </mat-tab>
    <mat-tab label="Task Types">
      <div class="container">
        <app-task-type></app-task-type>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>