<div class="ml-4">
  <app-breadcrumblayout></app-breadcrumblayout>
  <mat-tab-group>
    <!-- <mat-tab label="Server"> 
          <app-server-details></app-server-details>
      </mat-tab> -->
    <mat-tab label="Project Types">
        <div >
          <app-project-type></app-project-type>
        </div>
    </mat-tab>
    <mat-tab label="Status">
        <div >
          <app-status-types></app-status-types>
        </div>
    </mat-tab>
    <mat-tab label="Reasons">
        <div >
          <app-reasons></app-reasons>
        </div>
    </mat-tab>
    <mat-tab label="Document Types">
      <div >
        <app-document-types></app-document-types>
      </div>
    </mat-tab>
    <mat-tab label="Task Types">
      <div >
        <app-task-type></app-task-type>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>